@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica+SC&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Glitch+Pop&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Zen+Dots&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", serif;

}

body {
    background: #191919;
}

#hero-section {
    color: #fff;
}

.img-1 {
    height: 290px;
    width: 290px;
    border-radius: 50%;
}

.app {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    border: solid 2px #fff;
    animation: pound 2s infinite;
}

.icon-1 {
    font-size: 28px;
    color: #fff;
    margin-top: 7px;
}

.app:hover {
    transition: 0.7s;
    transform: scale(1.1);
    border: solid 2px rgb(0, 217, 255);
}

ion-icon:hover {
    transition: 0.7s;
    color: rgb(0, 217, 255);
    transform: rotate(20deg);
}



@keyframes pound {
    0% {
        border: solid 2px #FFF;
    }

    50% {
        border: solid 2px #2a2b2b;
    }
}

.text {
    font-size: 36px;
    font-weight: 700;
    width: 400px;
    line-height: 40px;
}

.text-1 {
    font-size: 18px;
    color: #00d9ff;
    margin-top: 20px;
}

.tops {
    gap: 15px;
    display: flex;
    align-items: center;
    margin-top: 45px;
}

.k-container {
    width: 725px;
    margin: 50px;
}

.container {
    gap: 40px;
    display: flex;
    align-items: center;
}

.full {
    height: 1.5px;
    width: 100%;
    margin-left: 10px;
    margin-top: 10px;
    background: rgb(0, 217, 255);
}

.hero-items {
    gap: 40px;
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    background: #2a2b2b;
    justify-content: center;
}

.item {
    height: 250px;
    width: 450px;
    background: #131313;
    border-radius: 5px;
    display: flex;
    transition: transform 0.7s;
    align-items: center;
    justify-content: center;
}

.herd {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    transition: 0.5s;
}

.item:hover {
    transform: scale(1.1);
}

.herd::first-letter {
    color: #00d9ff;
}

.herd:hover {
    color: #00d9ff;
}
.from{
    width: 100%;
    height: 2px;
    background: #424242;
    margin-top: 12%;
    display: none;
}

.home{
    gap: 8px;
    height: 43px;
    width: 100px;
    border: solid 1px #00d9ff;
    border-radius: 6px;
    display: flex;
    color: #00d9ff;
    margin: 30px;
    transition: 0.3s;
    align-items: center;
    justify-content: center;
}
.btn-2{
     font-size: 18px;
     color: #00d9ff;
    text-decoration: none;
}

.home:hover{
    border: solid 1px #000dff;
}

.btn-3{
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    margin-top: 30px;
    text-decoration: none;
    text-align: center;
}
.btn-3::first-letter{
    color: #00d9ff;
}

.round{
    gap: 20px;
    height: 600px;
     width: 100%;
     display: flex;
     margin-top: 40px;
     align-items: center;
     justify-content: center;
    background: #2c2c2c;
}
.fox{
    height: 530px;
    width: 390px;
    padding: 13px 0px;
     background: #161616;
     border-radius: 5px;
}
.j{
    color: #fff;
    font-size: 23px;
      animation:  wiggle 1s ease-in-out infinite;
}

.k{
    color: #fff;
    font-size: 23px;
}


 @keyframes wiggle {
      0% {
        transform: rotate(20deg);
      }
    }

.free{
    gap: 15px;
    display: flex;
    margin-left: 15px;
    align-items: center;
}
.text-4{
    color: #00d9ff;
     font-size: 17px;
     padding: 20px;
     font-weight: 600;
}

.por{
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}
.top{
    gap: 13px;
    display: flex;
    margin-left: 10px;
}
.apps{
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    border: solid 2px #fff;
    animation: pound 2s infinite;
}
.l{
    font-size: 23px;
    color: #00d9ff;
    margin-top: 5px;
}
.fromsa{
    display: flex;
    align-items: center;
    justify-items: center;
}
.modem{
    display: flex;
    align-items: center;
    justify-content: center;
}


.lab-inp{
    height: 600px;
    max-width: 950px;
    padding: 0px 20px;
}

.text-5{
    color: #fff;
    font-size: 27px;
    font-weight: 700;
    margin-top: 20PX;
}
.text-6{
    color: #ececec;
    font-size: 18px;
    margin-top: 20PX;
    line-height: 28px;
    font-family: 'Courier New', Courier, monospace;
}




.contact-form {
    padding:  25px 0px ;
    border-radius: 8px;
    width: 100%;
}
.contact-form h2 {
    font-size: 24px;
    color: #fff;
}
.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 15px;
    margin: 20px 0;
    font-size: 16px;
    outline: none;
    color: #fff;
    resize: none;
    background: none;
    border-radius: 5px;
}
.contact-form button {
    width: 250px;
    padding: 15px;
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    outline: none;
    font-weight: 700;
    gap: 10px;
    display: flex;
    align-items: end;
    background: none;
    background: #00d9ff;
    border: solid 1px #00d9ff;
    justify-content: center;
}
.contact-form button:hover {
    color: #c2c2c2;
    border: solid 1px #505050;
}
.d{
    font-size: 25px;
}
.contact-form input:hover{
     border: solid 1px #00d9ff;
}
.contact-form textarea:hover{
    border: solid 1px #00d9ff;
}

.container-3{
     width: 100%;
     height: 650px;
     margin-top: 30px;
     display: flex;
      gap: 35px;
      padding: 45px;
      flex-wrap: wrap;
      justify-content: center;
     background: #2c2c2c;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #999999;
}

::-webkit-scrollbar-thumb {
     background: #232323;
}
.meet-3{
     height: 250px;
     width: 450px;
     transition: 0.8s;
     border-radius: 10px;
     background: #424242;
}

.text-9{
    color: #f3f2f2;
    font-size: 19px;
    font-weight: 600;
    text-decoration: none;
}

.lik-2{
    font-size: 18px;
    color: #a9a9a9;
    display: flex;
    gap: 10px;
    align-items: center;
}
.text-8{
    font-size: 20px;
}
.tuss{
    display: flex;
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;
}


.img-d{
    height: 200px;
    width: 449px;
    border-radius: 5px 5px 0px 0px;
}

.meet-3:hover{
    transform: scale(1.1);
}

.item a {
    display: inline-block;
    position: relative;
    padding: 5px;
    text-decoration: none;
  }


  .item a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1.5px;
    width: 100%;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    transition: width 0.3s ease;
  }

  






















@media (max-width: 880px) {
    .saman {
        padding: 0px 20px;
    }

    .hero-items {
        padding: 0px 20px;
    }
    .modem{
        height: 100vh;
        padding: 0px 10px;
    }
    .round{
        height: 800px;
        margin-top: 10rem;
        display: flex;

        align-items: baseline;
        justify-content: center;
    }
    .container-3{
        background: none;
    }


}

@media (max-width : 660px) {
    .round{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        background: none;
        padding: 20px 0px;
        align-items: center;
        margin: 0 auto;
        justify-content: center;
    }
    .modem{
        width: 100%;
        height: 100%;
        padding: 0px;
        background: none;
    }
    .fox{
        width: 100%;
    }
     .text-4{
        font-size: 16px;
     }
     .por{
         font-size: 14px;
     }
      .apps{
         height: 40px;
         width: 40px;
      }
      .text-5{
        font-size: 22px;
      }

      .text-6{
        font-size: 17px;
      }
      .text{
         font-size: 32px;
      }
   
   
   
   
   
    .img-item {
        display: none;
    }

    .full {
        display: none;
    }

    .k-container {
        display: flex;
        width: 100%;
        margin: 0 auto;
        align-items: center;
        margin-top: 40px;
        justify-content: center;
    }

    .text {
        text-align: center;
        width: 100%;
        flex-wrap: wrap;
    }

    .text-1 {
        text-align: center;
    }

    .tops {
        display: flex;
        justify-content: center;
    }

    .saman {
        display: flex;
        justify-content: center;
    }
    .hero-items{
        gap: 20px;
         display: flex;
         flex-wrap: wrap;
         background: #191919;
         align-items: center;
         justify-content: center;
         margin-top: 30px;
    }
    .item{
        height: 50px;
        width: 100%;
        background: #2a2b2b;
    }
    .herd{
        font-size: 18px;
        text-decoration: none;
    }
    .from{
        display: block;
    }
    .btn-s{
        height: 50px;
    }
    .meet-3{
        height: 285px;
         width: 350px;
    }
    .img-d{
        height: 230px;
        width: 350px;
    }
    .container-3{
        gap: 3rem;
    }
    .text-9{
        font-size: 17px;
    }
    .lik-2{
        font-size: 15px;
    }
    .text-8{
        font-size: 19px;
    }
    .tuss{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}